 @{
    ViewData["Title"] = "Home";
}

 
 <!-- Top  main section Start -->
  <section class="top-main">
    <div class="top-site-images">
      <img src="assets/img/bg/hero_banner.jpg" alt="">
    </div>
    <div class="page-title-wrapper">
      <div class="container">
        <div class="banner-wrapper">
          <h1 class="heading">Cardápio</h1>
          <p class="description">Tre Sorelle - Gelateria</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Top  main section End -->

  <!-- Page Section Start -->
  <div class="page-container">
  	<div class="container">
  		<div class="row">      
        
  			<!-- Left Menu -->
  			<div class="col-md-6 col-sm-6 col-sx-12"> 				
  				<div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-01.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Casquinha Amor de Morango</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
  			</div>
  			<!-- Right Menu -->
  			<div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-02.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-03.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-06.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-07.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-08.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">$45</span>
              <h4>Rosted Chicken with Wine</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam provident aliquam, fuga asperiores obcaecati...</p>
            </div>
          </div>
        </div>
  				
  		</div>
  	</div>
  </div>
  <!-- Page Section End -->
