@{
    ViewData["Title"] = "Home";
}


<!-- About Us Section Start -->
<section id="about" class="general-row">
    <div class="container">
        <div class="row about-wrapper">
            <div class="col-md-6 col-sm-6 col-xs-12 text-content">
                <div class="sce-title">
                    <h2>Quem Somos</h2>
                    <p>O melhor gelato expresso da região!</p>
                </div>
                <div class="sce-text">
                    <p>
                        A Tre Sorelle é uma gelateria especializada em Gelatos Expressos! Criada por três irmãs empreendedoras, procuramos levar
                        até você e sua família uma experiência gastronômica única!
                    </p>
                    <p>
                        Usando ingredientes das melhores qualidades, a Tre Sorelle garante um sabor inexplicável! Nossos produtos são 100% artesanais
                        feitos pelas nossas prórpias mãos, a fim de que você possa sentir o aconchego e o carinho com que trabalhamos! Nossa missão
                        é proporcionar não apenas sabor, como também um ambiente familiar de boas memórias!
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 left-image">
                <div class="image">
                    <img src="assets/img/restaurant/img1.jpg" alt="">
                    <img src="assets/img/restaurant/img2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Receipes Section Start -->
<section id="recipes" class="general-row">
    <div class="container">
        <div class="section-title">
            <h2>Nossos Produtos</h2>
            <p>Conheça nossas delícias e acompanhe a descrição de ingredientes.</p>
        </div>

        <!-- Tabs Section Start -->
        <div id="tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a data-toggle="tab" role="tab" href="#tab1">
                        Casquinhas
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab2">
                        MilkShakes
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab3">
                        Bebidas
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab4">
                        Sobremesas
                    </a>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active " role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Torta de Limão </a></h3>
                                    <p>Cascão verde recheado com curd de limão, gelato de leite, curd de limão, farofa de biscoito, merengue maçaricado e raspas de limão.</p>
                                </div>
                                <div class="price">
                                    <span>R$17,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Amor de Morango</a></h3>
                                    <p>Cascão vermelho recheado com calda de morango, gelato de morango, calda de morango, morangos frescos e suspiros.</p>
                                </div>
                                <div class="price">
                                    <span>R$17,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Ganache de Pistache</a></h3>
                                    <p>Cascão tradicional, ganache de pistache e gelato de pistache.</p>
                                </div>
                                <div class="price">
                                    <span>R$17,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Maracujá</a></h3>
                                    <p>Cascão tradicional recheado com curd de maracujá, gelato de leite, curd de maracujá, granule de chocolate branco e merengue maçaricado.</p>
                                </div>
                                <div class="price">
                                    <span>R$19,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Prestígio</a></h3>
                                    <p>Cascão de cacau recheado com beijinho cremoso, gelato de chocolate, calda de chocolate, granule de chocolate e beijinhos.</p>
                                </div>
                                <div class="price">
                                    <span>R$19,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Cookies'n Cream</a></h3>
                                    <p>Cascão de cacau black recheado com calda de chocolate, gelato de leite, calda de chocolate, farofa de Negresco e mini Oreo.</p>
                                </div>
                                <div class="price">
                                    <span>R$17,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-07.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chocolatudo</a></h3>
                                    <p>Cascão de cacau recheado com Nutella, gelato de chocolate, calda de chocolate, granule de chocolate, brownie bites e canudinho de chocolate.</p>
                                </div>
                                <div class="price">
                                    <span>R$20,00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-08.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Casquinha Kids</a></h3>
                                    <p>Casquinha Marvi, gelato (leite, chocolate ou morango), mini Oreo e confeito.</p>
                                </div>
                                <div class="price">
                                    <span>R$13,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-07.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>R$15</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$27.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab content End -->
        </div>
        <!-- Tabs Section End -->
    </div>
</section>
<!-- Receipes Section End -->

<!-- Special Section Start -->
<section id="special" class="general-row">
    <div class="special-recipes">
        <div class="container">
            <div class="row">
                <div class="auto-container clearfix">
                    <div class="section-title">
                        <h2>Special Recipes</h2>
                        <p>Discover recipes that match your unique tastes and diet preferences</p>
                    </div>

                    <div class="special-item clearfix">
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <figure class="image">
                                <img src="assets/img/recipes/large-img1.jpg" alt="">
                                <div class="overlay">
                                    <a href="single-item.html" class="icon">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                            <div class="info">
                                <div class="price">
                                    <span>$ 12.5</span>
                                </div>
                                <h3><a href="#">Brunch Buffet</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <figure class="image">
                                <img src="assets/img/recipes/large-img2.jpg" alt="">
                                <div class="overlay">
                                    <a href="single-item.html" class="icon">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <a href="#" class="added">Added <i class="icon-cart"></i></a>
                            <div class="info">
                                <div class="price">
                                    <span>$ 27.5</span>
                                </div>
                                <h3><a href="#">Brunch Buffet</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <a href="#" class="added">Added <i class="icon-cart"></i></a>
                            <div class="info">
                                <div class="price">
                                    <span>$ 15.5</span>
                                </div>
                                <h3><a href="#">Brunch Buffet</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <figure class="image">
                                <img src="assets/img/recipes/large-img3.jpg" alt="">
                                <div class="overlay">
                                    <a href="single-item.html" class="icon">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </figure>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                            <div class="info">
                                <div class="price">
                                    <span>$ 1.5</span>
                                </div>
                                <h3><a href="#">Brunch Buffet</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 grid-item">
                            <figure class="image">
                                <img src="assets/img/recipes/large-img4.jpg" alt="">
                                <div class="overlay">
                                    <a href="single-item.html" class="icon">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <!-- Call To Action -->
                        <div class="cta text-center">
                            <h1>Choose Your Favorite Recipes</h1>
                            <h2>Discover recipes that match your unique tastes and diet preferences</h2>
                            <a href="#" class="btn btn-common">More Recipes</a>
                        </div>
                        <!-- Call To Action End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Special Section End -->

<!-- Team Section Start -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Who Discover Recipes</h2>
                <p>Discover recipes that match your unique tastes and diet preferences</p>
            </div>

            <!-- Team Section Start -->
            <div id="team">
                <div class="team-carousel owl-carousel">
                    <div class="item">
                        <img src="assets/img/team/img1.jpg" alt="">
                        <div class="info">
                            <h3>Brandon Cooper</h3>
                            <p>Chief Chef</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/team/img2.jpg" alt="">
                        <div class="info">
                            <h3>Craig Lake</h3>
                            <p>Sous Chef</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/team/img3.jpg" alt="">
                        <div class="info">
                            <h3>Jeffrey Miller</h3>
                            <p>Food & Beverage Controller</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/team/img1.jpg" alt="">
                        <div class="info">
                            <h3>Steven Romo</h3>
                            <p>Pastry Chef</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/team/img2.jpg" alt="">
                        <div class="info">
                            <h3>Ronnie Sotelo</h3>
                            <p>Executive Chef</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/img/team/img3.jpg" alt="">
                        <div class="info">
                            <h3>Jesse Pacheco</h3>
                            <p>Pizza Transporter</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Section End -->

        </div>
    </div>
</section>
<!-- Team Section End -->



<!-- Feedback Form Section Start -->
<section id="feedback">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="feedback text-center">
                    <div class="section-title">
                        <h2>Send Your Feedback</h2>
                        <p>We're always here to hear from you</p>
                    </div>

                    <!-- Start Contact Form -->
                    <form role="form" id="contactForm" class="contact-form" data-toggle="validator" class="shake">
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" id="name" class="form-control" placeholder="Name" required
                                    data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="email" class="email form-control" id="email" placeholder="Email" required
                                    data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <input type="text" id="msg_subject" class="form-control" placeholder="Subject" required
                                    data-error="Please enter your message subject">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <textarea id="message" rows="7" placeholder="Massage" class="form-control" required
                                    data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <button type="submit" id="submit" class="btn btn-common btn-sn"></i> Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>

                    </form>
                    <!-- End Contact Form -->
                </div>
            </div>
        </div>
</section>
<!-- Feedback Form Section End -->

