@{
    ViewData["Title"] = "Cardápio";
}

 
  <!-- Top  main section End -->

  <!-- Page Section Start -->
  <div class="page-container">
  	<div class="container">
  		<div class="row">      
        
  			<!-- Left Menu -->
  			<div class="col-md-6 col-sm-6 col-sx-12"> 				
  				<div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-06.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$17,00</span>
              <h4>Cascão Amor de Morango</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cascão vermelho recheado com calda de morango, gelato de morango, calda de morango, morangos frescos e suspiros.</p>
            </div>
          </div>
  			</div>
  			<!-- Right Menu -->
  			<div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-02.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$20,00</span>
              <h4>Cascão Chocolatudo</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cascão de cacau recheado com Nutella, gelato de chocolate, calda de chocolate, granule de chocolate, brownie bites e canudinho de chocolate.</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-03.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$19,00</span>
              <h4>Cascão Prestígio</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cascão de cacau recheado com beijinho cremoso, gelato de chocolate, calda de chocolate, granule de chocolate e beijinhos.</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$19,00</span>
              <h4>Cascão Maracujá</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cascão tradicional recheado com curd de maracujá, gelato de leite, curd de maracujá, granule de chocolate branco e merengue maçaricado.</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$17,00</span>
              <h4>Cascão Torta de Limão</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cascão verde recheado com curd de limão, gelato de leite, curd de limão, farofa de biscoito, merengue maçaricado e raspas de limão.</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-01.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$17,00</span>
              <h4>Cascão Cookies'n Cream</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cascão de cacau black, recheado com calda de chocolate, gelato de leite, calda de chocolate, farofa de Negresco e mini Oreo.</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-07.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$13,00</span>
              <h4>Casquinha Kids</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Casquinha Marvi, gelato (leite, chocolate ou morango), mini Oreo e confeito.</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-07.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$15,00</span>
              <h4>MilkShake de Ovomaltine</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de chocolate e Ovomaltine.
                <br><br>
                300ml R$15,00
                <br>
                500ml R$23,00
              </p>
            </div>
          </div>
        </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-08.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$15,00</span>
              <h4>MilkShake de Farinha Láctea</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de caramelo e farinha láctea.
                <br><br>
                300ml R$15,00
                <br>
                500ml R$23,00
              </p>
            </div>
          </div>
        </div>

        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$15,00</span>
              <h4>MilkShake de Paçoca</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de caramelo e farofa de paçoca.
                <br><br>
                300ml R$15,00
                <br>
                500ml R$23,00
              </p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$15,00</span>
              <h4>MilkShake de Sensação</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de chocolate e calda de morango em dobro.
                <br><br>
                300ml R$15,00
                <br>
                500ml R$23,00
              </p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$17,00</span>
              <h4>MilkShake de Banoffe</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, doce de leite argentino, banana, chantilly, finalizado com cacau em pó.
                <br><br>
                300ml R$17,00
                <br>
                500ml R$25,00
              </p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$17,00</span>
              <h4>MilkShake de Café</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de caramelo, café, chantilly, finalizado com canela.
                <br><br>
                300ml R$17,00
                <br>
                500ml R$25,00
              </p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$18,00</span>
              <h4>MilkShake de Morango</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de morango, calda de morango e chantilly.
                300ml R$18,00
                <br>
                500ml R$26,00
              </p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-15.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$18,00</span>
              <h4>MilkShake de Nutella</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de chocolate e Nutella.
                <br><br>
                300ml R$18,00
                <br>
                500ml R$26,00
              </p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$18,00</span>
              <h4>MilkShake de Macadâmia</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de caramelo, creme de macadâmia e macadâmia caramelizada.
                300ml R$18,00
                <br>
                500ml R$26,00
              </p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$19,00</span>
              <h4>MilkShake de Ninho com Nutella</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de leite, calda de chocolate, Nutella e Leite Ninho.
                <br><br>
                300ml R$19,00
                <br>
                500ml R$28,00
              </p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$22,00</span>
              <h4>MilkShake de Pistache</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Gelato de pistache, gelato de leite e ganache de pistache.
                300ml R$22,00
                <br>
                500ml R$30,00
              </p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-19.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$8,00</span>
              <h4>Cookie</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cookie caseiro, crocante por fora e macio por dentro.</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$6,00</span>
              <h4>Brownie</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Brownie caseiro com casquinha crocante e macio por dentro.</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$5,00</span>
              <h4>Bolo de Cenoura</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Mini bolo de cenoura caseiro, super macio.</p>
            </div>
          </div>
        </div>
        <!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$5,00</span>
              <h4>Bolo de Chocolate</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Mini bolo de chocolate caseiro, super macio.</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$9,00</span>
              <h4>Croissant Tradicional</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Croissant caseiro, crocante por fora e macio por dentro.</p>
            </div>
          </div>
        </div>
  				<!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$17,00</span>
              <h4>Croissant Sanduíche</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Croissant caseiro recheado. <br> Consulte os sabores disponíveis.</p>
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$20,00</span>
              <h4>Croissant Nutella</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Croissant caseiro, recheado com Nutella e morangos.</p>
            </div>
          </div>
        </div>
  				<!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$20,00</span>
              <h4>Croissant Banoffe</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Croissant caseiro, recheado com banana e doce de leite.
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$4,00</span>
              <h4>Água</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Água mineral com ou sem gás.</p>
            </div>
          </div>
        </div>
  				<!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-28.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$5,00</span>
              <h4>Café</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Café expresso feito na hora.
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$6,00</span>
              <h4>Refrigerante</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Refrigerante lata.</p>
            </div>
          </div>
        </div>
  				<!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$10,00</span>
              <h4>Cappuccino</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Cappuccino tradicional feito na hora.
            </div>
          </div>
        </div>

        <!-- Left Menu -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-04.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$10,00</span>
              <h4>Chocolate Quente</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Chocolate Quente cremoso.</p>
            </div>
          </div>
        </div>
  				<!-- Right Menu -->
        <div class="col-md-6 col-sm-6 col-sx-12">         
          <div class="menu-item">
            <div class="menu-left">
              <img src="~/assets/img/menu/img-05.jpg" alt="">
            </div>    
            <div class="menu-right">
              <span class="price">R$8,00</span>
              <h4>Crema Café</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </div>
              <p>Crema Café feito na hora.
            </div>
          </div>
        </div>

  		</div>
  	</div>
  </div>
  <!-- Page Section End -->
