@{
    ViewData["Title"] = "Quem Somos";
}

 <!-- Top  main section Start -->
  <section class="top-main">
    <div class="page-title-wrapper">
      <div class="container">
        <div class="banner-wrapper">       
        </div>
      </div>
    </div>
  </section>
  <!-- Top  main section End -->

  <!-- PageSection Start -->
  <div class="page-container">
  	<div class="container">
  		<div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="images">
            <img src="~/assets/img/about/img1.jpg" alt="">
          </div>
        </div>         
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="about-text">
            <h1>Conheça um pouco da Gelateria</h1>
            <h3 class="description">Sabor & Família</h3>
            <p>
              A Tre Sorelle surgiu a partir da paixão pela culinária artesanal e de valor! Foi tomando um sorvete em dia quente que as irmâs tiveram a tão inovadora ideia de transformar
              os gelatos artesanais em softs (expressos), visando levar uma nova experiênia ao público.
            </p>
            <p>
              Com produtos originais e de qualidade, como o famoso Doce de Leite Argentino e o cacau Callebau, a Tre Sorelle se importa em levar o melhor sabor para os clientes.
              Mas não só isso, parte dos valores da empresa está em conservar um ambiente leve e familiar, a calmaria do local permite que você trabalhe, encontre seus amigos, leve sua família
              e também o seu pet! Tudo para ter a melhor experiênia!
            </p>
            <a href="#" class="btn btn-common">Confira o Cardápio</a>
          </div>
        </div>  				
  		</div>
  	</div>

<div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Nosso Endereço </h2>
                <p>Venha conhecer nosso espaço <br/>
                 Aqui você pode nos encontrar mais rápido e com mais facilidade!</p> 
            </div>
        </div>
</div>
    <!-- Google Maps API -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118044.56052588875!2d-48.641176746696274!3d-22.395409055337627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c745ea23dbdf93%3A0xee14cc709c41c2d0!2sTre%20Sorelle!5e0!3m2!1spt-BR!2sbr!4v1698762730393!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  </div>
  

  </div>
  <!-- Page Section End -->