@{
    ViewData["Title"] = "Quem Somos";
}

 <!-- Top  main section Start -->
  <section class="top-main">
    <div class="top-site-images">
      <img src="assets/img/bg/about.jpg" alt="">
    </div>
    <div class="page-title-wrapper">
      <div class="container">
        <div class="banner-wrapper">
          <h1 class="heading">Quem Somos</h1>
          <p class="description">Tre Sorelle - Quem Somos</p>          
        </div>
      </div>
    </div>
  </section>
  <!-- Top  main section End -->

  <!-- PageSection Start -->
  <div class="page-container">
  	<div class="container">
  		<div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="images">
            <img src="assets/img/about/img1.jpg" alt="">
          </div>
        </div>         
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="about-text">
            <h1>Conheça um pouco da Gelateria</h1>
            <h3 class="description">Sabor & Família</h3>
            <p>
              A Tre Sorelle surgiu a partir da paixão pela culinária artesanal e de valor! Foi tomando um sorvete em dia quente que as irmâs tiveram a tão inovadora ideia de transformar
              os gelatos artesanais em softs (expressos), visando levar uma nova experiênia ao público.
            </p>
            <p>
              Com produtos originais e de qualidade, como o famoso Doce de Leite Argentino e o cacau Callebau, a Tre Sorelle se importa em levar o melhor sabor para os clientes.
              Mas não só isso, parte dos valores da empresa está em conservar um ambiente leve e familiar, a calmaria do local permite que você trabalhe, encontre seus amigos, leve sua família
              e também o seu pet! Tudo para ter a melhor experiênia!
            </p>
            <a href="#" class="btn btn-common">Confira o Cardápio</a>
          </div>
        </div>  				
  		</div>
  	</div>

    <!-- Cool Facts Section -->
    <section id="cool-facts">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="fact-block">
              <div class="fact-count text-center">
                <i class="fa fa-user"></i>
                <h3>
                  <span class="counter">
                   30
                  </span>
                </h3>
                <h4>
                 Mais de 30 Produtos
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="fact-block">
              <div class="fact-count text-center">
                <i class="fa fa-coffee"></i>
                <h3>
                  <span class="counter">
                    5
                  </span>
                </h3>
                <h4>
                  Sabores de Gelato
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="fact-block">
              <div class="fact-count text-center">
                <i class="fa fa-heart"></i>
                <h3>
                  <span class="counter">
                    20
                  </span>
                </h3>
                <h4>
                  Mais de 20 Toppings
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="fact-block">
              <div class="fact-count text-center">
                <i class="fa fa-star"></i>
                <h3>
                  <span class="counter">
                    7
                  </span>
                </h3>
                <h4>
                  Caldas Artesanais
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Cool Facts Section End -->

  

  </div>
  <!-- Page Section End -->